.fc-button{
    border: 2px solid var(--brand) !important;
    color: var(--brand) !important;
    background: transparent!important;
    border-radius: 5em !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
    margin-left: 1em!important;
    margin-right: 1em!important;
}

.fc-event{
    border: none!important;
    border-radius: 0!important;
    padding: 2px!important;
}

.fc-view-container{
    background: #ffffff;
}
